body {
  background-color: rgba(60,60,67,.03);
  font-family: 'Roboto';
  margin: 0;
  color: #171A20;
}
input {
  margin: 5px;
}
.not-found {
  background-color: whitesmoke;
  padding: 10px;
  word-wrap: break-word;
  border-radius: 20px;
  line-height: 500px;
}

.badge {
  background-color: #384ad7 !important;
}
.card {
  position: static !important;
}
.space-on-sides-mb {
  margin: 10px;
  position: relative;
  border-color: #5867dd;
  width: 98%;
  margin: 0 auto;
  margin-top: 20px;
}